* {
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
}
body {
  background-color: #fdf6e3;
  color: #657b83;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
header {
  border-bottom: 3px solid #dc322f;
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  padding: 1em 0;
  top: 0;
  text-align: center;
  width: 100vw;
}
main {
  height: 62vh;
  width: 62vw;
}
button {
  background-color: transparent;
  border: none;
  text-decoration: underline;
}
p + p {
  text-indent: 1.62em;
}

.entries {
  list-style: none;
}
.entries li {
  display: flex;
}
.entries .title {
  flex: 1;
}
