* {
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
}
html {
  font-family: sans-serif;
}
body {
  background-color: #fdf6e3;
  color: #622230;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  align-items: center;
  height: 100vh;
}
header {
  border-bottom: 3px solid #d52230;
  flex: 0 0 5rem;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 0;
  text-align: center;
}
header,
main {
  position: relative;
  overflow: hidden;
  width: 100vw;
}
main {
  flex: 1;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}
p + p {
  text-indent: 1.62em;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}

.entries {
  list-style: none;
}
.entries li {
  display: flex;
}
.entries li > * {
  margin: 0 3px;
}
.entries .title {
  flex: 1;
}

.pad-center,
.ql-editor {
  padding: 0 calc(50vw  - 14em);
  padding-top: 1em;
  overflow-x: hidden;
  overflow-y: auto;
}
.ql-component{
  position: absolute;
  height: 100%;
  width: 100%;
}
.ql-bubble {
  font-family: inherit;
  font-size: inherit;
}
